body {
    background: linear-gradient(45deg,#faf2f2,#8f0909);
}
.screen {
    width:900px;
    height:500px;
    background-color:rgba(0,0,0,7);
    margin-top:10%;
    margin-left:19%;
    position: absolute;
}

.part2 {
    width:50%;
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/2244/5817/products/4_235cc681-962b-475d-94fe-638e2f41449e.jpg?v=1558946777);
    background-size: 100% 100%;
    margin-left: 50%
}
    
        .lin{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 5%;
    position: absolute;
    padding-top: 15px;
    
}
.lin0{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 12%;
    position: absolute;
    padding-top: 15px;
    
}
.lin1{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 18%;
    position: absolute;
    padding-top: 15px;
    
}
.lin2{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 30%;
    position: absolute;
    padding-top: 15px;
    
}

.screen2 {
    background-color: rgba(0,0,0,0.5);
    width:25%;
    height:40%;
    position:absolute;
    margin-left: 3%;
    margin-top: 18%;
    border-radius:20px;
    
}
.symbol{
    position: absolute;
    margin-top: 40%;
    
}
.part1 {
    background-color: white;
    position: absolute;
    width:50%;
    height:100%;
}
.text {
    font-size: 20px;
    color: black;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    padding-left: 15%;
} 
.m_font {
    position: absolutel;
        font-size: 30px;
    padding-top: 18%;
    padding-left:15%;
    color:darkgrey;
}
span{
    color: black;
    font-weight: bold;
}

.detail{
    color:darkgray;
    font-size:15px;
    position:absolute;
    margin-top:-4%;
    padding-left:17%;
            
    font-family:serif;
}

#data {
    position:absolute;
    margin-top:9%;
    margin-left:17%;
}

.login {
    width:200px;
    height:30px;
    border-radius:7px;
    padding-bottom:7px;
    font-size:17px;
    font-family:serif;
}
.check{
   color:black; 
 
}
td{
      font-size:15px; 
    color:dimgray;
}
.forgot{
   padding-top:15px;
    padding-left:140px;
    color:dimgray;
}

.log_in{
    position: absolute;
    background-color: black;
    color: white;
    width:100px;
    height:30px;
    border-radius:7px;
    margin-top:17px;
}
.sign_up{
    position: absolute;
    background-color: white;
    color: darkslategray;
    width:100px;
    height:30px;
    border-radius:7px;
    margin-top:17px;
    margin-left:140PX
}
.f_data {
    color:darkslategray;
    font-size:13px;
    position:absolute;
    padding-left:15%;
    padding-top:56%;
    font-family:serif;
    letter-spacing:1px;
}
.final{
    color:black;
}
.heading{
    width:100%;
    height:107px; 
        position:absolute;
    
}
@media all and (max-width:500px) {
 body {
    background: linear-gradient(45deg,#faf2f2,#8f0909);
}
.screen {
    width:900px;
    height:500px;
    background-color:rgba(0,0,0,7);
    margin-top:10%;
    margin-left:19%;
    position: absolute;
}

.part2 {
    width:50%;
    height: 100%;
    background-image: url(4_235cc681-962b-475d-94fe-638e2f41449e.jpg);
    background-size: 100% 100%;
    margin-left: 50%
}
    
        .lin{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 5%;
    position: absolute;
    padding-top: 15px;
    
}
.lin0{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 12%;
    position: absolute;
    padding-top: 15px;
    
}
.lin1{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 18%;
    position: absolute;
    padding-top: 15px;
    
}
.lin2{
    text-decoration: none;
    color:whitesmoke;
    font-size:13px;
    padding-left: 30%;
    position: absolute;
    padding-top: 15px;
    
}

.screen2 {
    background-color: rgba(0,0,0,0.5);
    width:25%;
    height:40%;
    position:absolute;
    margin-left: 3%;
    margin-top: 18%;
    border-radius:20px;
    
}
.symbol{
    position: absolute;
    margin-top: 40%;
    
}
.part1 {
    background-color: white;
    position: absolute;
    width:50%;
    height:100%;
}
.text {
    font-size: 20px;
    color: black;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
    padding-left: 15%;
} 
.m_font {
    position: absolutel;
        font-size: 30px;
    padding-top: 18%;
    padding-left:15%;
    color:darkgrey;
}
span{
    color: black;
    font-weight: bold;
}

.detail{
    color:darkgray;
    font-size:15px;
    position:absolute;
    margin-top:-4%;
    padding-left:17%;
            
    font-family:serif;
}

#data {
    position:absolute;
    margin-top:9%;
    margin-left:17%;
}

.login {
    width:200px;
    height:30px;
    border-radius:7px;
    padding-bottom:7px;
    font-size:17px;
    font-family:serif;
}
.check{
   color:black; 
 
}
td{
      font-size:15px; 
    color:dimgray;
}
.forgot{
   padding-top:15px;
    padding-left:140px;
    color:dimgray;
}

.log_in{
    position: absolute;
    background-color: black;
    color: white;
    width:100px;
    height:30px;
    border-radius:7px;
    margin-top:17px;
}
.sign_up{
    position: absolute;
    background-color: white;
    color: darkslategray;
    width:100px;
    height:30px;
    border-radius:7px;
    margin-top:17px;
    margin-left:140PX
}
.f_data {
    color:darkslategray;
    font-size:13px;
    position:absolute;
    padding-left:15%;
    padding-top:56%;
    font-family:serif;
    letter-spacing:1px;
}
.final{
    color:black;
}
.heading{
    width:100%;
    height:107px; 
        position:absolute;
    
}
}
